.selector {
    background: -webkit-linear-gradient(left, #105dad, #1f51ff8c 35%, #1f51ff8c 35%, #0229b952);
    width: 100%;
    height: 30px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(47, 97, 210, 0.65);
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 97%;
}

body {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

.menu {
    background: none;
    width: 100%;
    float: left;
    position: relative;
    top: auto;
    bottom: 45px;
    left: auto;
}

li a:hover {
    color: #277fef;
  }

.menu li {
    position: relative;
    float: left;
    left: 0;
    width: auto;
    padding: 0 10px;
    padding-left: 35px;
    margin-top: 25px;
    margin-left: 0;
    margin-top: 100px;
    list-style-type: none
}

.menu a {
    padding: 0;
    display: block;
    padding-bottom: 20px;
    transition: color 0.1s;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 60px;
    font-size: larger;
    font-family: sans-serif;
    color: #4c4a4ae8;
}

.container-span {
    max-width: 740px;
    margin: 3rem auto 0;
    padding: 120px;
}

.textoCentro {
    margin: 2rem 0;
}

.textoCentro.central {
    text-align: center;
    background-image: linear-gradient(180deg,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
}

.textoCentro>span {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    text-transform: none;
    font-size: 15px;
}

.footer {
    text-align: center;
    background: aliceblue;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.alinharLogo{
    float: left;
    padding: 0 10px;
    padding-top: 63px;
}
